bin/
obj/
.vs/
.vscode/
*.user
*.suo

appsettings.json
JobMatchBackend/appsettings.Development.json
JobMatchBackend/appsettings.json
JobMatchBackend/appsettings.json
JobMatchBackend/appsettings.Development.json
JobMatchBackend/appsettings.Production.json
JobMatchBackend/appsettings.Staging.json
**/firebase-adminsdk*.json
**/serviceAccountKey*.json
**/google-services*.json
